<!-- Twitter -->
<% size = orientation == :horizontal ? '110' : '57' %>

<div class="social-buttons <%= orientation %>">
    <div class='twitter-like'>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= url %>" data-lang="en" data-size="<%= size %>" data-count="<%= twitter_count %>" >Tweetar</a>
    </div>
    <script>
        (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js,fjs); } }(document, "script", "twitter-wjs"));
    </script>

    <!-- Facebook -->
    <div id="fb-root"></div>
    <div class="fb-like" data-href="<%= url %>" data-send="false" data-layout="<%= facebook_count %>" data-width="<%= size %>" data-show-faces="false" data-font="lucida grande"></div>
    <script>
        (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1"; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'facebook-jssdk'));
    </script>
</div>
